<h1>Welcome</h1>
<p>I will use this to redesign <%= link_to "Daily Art Tasting", "http://dailyarttasting.com" %>
This is the first project I am making. This is the first project I am making. This is the first project I am making. This is the first project I am making.
This is the first project I am making.
This is the first project I am making.
This is the first project I am making.
</p>
